/* 全局CSS */
html, body, #app {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.el-card {
  margin-bottom: 20px;
}

.search-form {
  margin-bottom: 15px;
}

.el-table {
  margin-top: 15px;
  font-size: 14px;
}

.el-pagination {
  margin-top: 15px;
}

/* 修复element-plus部分样式问题 */
.el-form-item__label {
  font-weight: normal !important;
}

.el-submenu__title {
  font-size: 14px !important;
}

.el-menu-item {
  font-size: 14px !important;
} 